@use "../mixins.scss" as mixins;
@use "../variables" as vars;

@include mixins.swiper-theme(".js-banner-slider", $bullet-size: 11px);
@include mixins.swiper-theme(
  ".js-products-slider",
  $slide-bg: #fff,
  $nav-color: vars.$main-color,
  $nav-sides-offset: 22px
);

body.page-home {
  .header {
    .header-top {
      @extend %SFProDisplay-700;
      &__inner {
        padding: 23px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .header-menu {
        display: flex;
        &__list {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 50px;
        }
        &__item {
          font-size: 20px;
          font-weight: 700;
        }
      }

      .header-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

        .address {
          position: relative;
          padding-left: 31px;
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
        }
        .address::before {
          content: "";
          position: absolute;
          width: 31px;
          height: 30px;
          top: -10px;
          left: 0;
          background-image: url(../../assets/icons/map-location.svg);
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .user-list {
          display: flex;
          align-items: center;
          gap: 10px;
          padding-right: 15px;
          &__item:last-child {
            position: relative;
          }
        }
        .shop-cart {
          position: relative;
        }

        .shop-cart__num {
          border-radius: 50%;
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          top: 10px;
          right: -14px;
          text-align: center;
          @extend %SFProDisplay-500;
          font-size: 10px;
          line-height: 20px;
          color: #ffffff;
          background-color: vars.$accent-color;
        }
      }
    }

    .header-bottom {
      margin-bottom: 80px;
      &__inner {
        background-color: vars.$base-color;
        .menu-categories {
          display: flex;
          justify-content: space-around;
          &__item {
            position: relative;
            padding: 25px 0;
            font-size: 20px;
          }

          &__link {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 0;
              left: auto;
              right: 0;
              height: 3px;
              bottom: -25px;
              background-color: vars.$accent-color;
              transition: all 0.5s;
            }

            &:hover::before {
              width: 100%;
              left: 0;
              right: auto;
            }
          }
        }
      }
    }
  }

  .main {
    .banner-section {
      &__inner {
        display: flex;
        height: 400px;
        gap: 31px;
        margin-bottom: 80px;
      }
      &__slider {
        width: 870px;
        height: 100%;
      }
      &__item {
        border: 1px solid vars.$second-color;
        border-radius: 4px;
        width: 270px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .sale-item {
          &__top {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          &__info {
            border-top-left-radius: 3px;
            width: 92px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            @extend %ProximaNova-600;
            font-size: 12px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #fff;
            background-color: vars.$accent-color;
          }
          &__price-new {
            position: relative;
            padding: 0 29px 10px 0;
            @extend %Barlow-700;
            font-size: 27px;
            line-height: 32px;
            color: vars.$accent-color;
          }
          &__price-new::after {
            position: absolute;
            content: "";
            width: 15px;
            height: 18px;
            top: 9px;
            right: 6px;
            background-image: url(../../assets/icons/rus-currency.svg);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &__price-old {
            position: relative;
            margin-right: 20px;
            text-align: right;
            @extend %Barlow-400;
            font-size: 14px;
            color: vars.$second-color;
            background-image: url(../../assets/icons/line-through.svg);
            background-position: center right -25px;
            background-repeat: no-repeat;
            background-size: contain;
          }
          &__price-old::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 10px;
            top: 6px;
            right: -12px;
            background-image: url(../../assets/icons/rus-currency-old.svg);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          &__title {
            width: 237px;
            padding: 0 33px;
            @extend %SFProDisplay-700;
            text-align: center;
          }
          &__footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            padding: 25px 20px;
            background-color: rgba(vars.$base-color, 0.8);
          }
          &__date {
            @extend %Barlow-700;
            color: vars.$accent-color;
          }
        }
      }
    }

    .search {
      height: 122px;
      margin-bottom: 80px;

      &__content-item {
        display: none;
        &--active {
          display: block;
        }
      }
      &__content-form {
        min-width: 0;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &__content-input {
        border: none;
        border-radius: 3px;
        height: 100%;
        flex: 1 1 auto;
        min-width: 0;
        padding-left: 26px;
        @extend %SFProDisplay-400;
        font-size: 16px;
        background-color: vars.$base-color;
        &::placeholder {
          color: #656464;
        }
      }

      &__content-btn {
        border: none;
        border-radius: 3px;
        height: 100%;
        flex: 0 0 auto;
        background: none;
        margin-left: -3px;
        padding: 0 38px 0 40px;
        @extend %SFProDisplay-700;
        font-size: 14px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #fff;
        background-color: vars.$accent-color;
        cursor: pointer;
      }
    }

    .search .jtabs-headers {
      display: flex;
      gap: 30px;
      margin-bottom: 25px;
    }
    .search .jtabs-headers div {
      padding: 11px 26px 12px;
      @extend %SFProDisplay-400;
      font-size: 20px;
      background: none;
      cursor: pointer;
    }
    .search .jtabs-headers .jtabs-selected {
      border-radius: 5px;
      @extend %SFProDisplay-700;
      font-size: 20px;
      background-color: vars.$base-color;
    }

    .categories {
      margin-bottom: 80px;
      &__inner {
        // border: 1px solid red;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }
      &__item {
        border: 1px solid #cdcdcd;
        border-radius: 3px;
        width: 370px;
        height: 129px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.3s;
        &:hover {
          color: vars.$accent-color;
          border: none;
          box-shadow: 3px 3px 20px 0 rgba(50, 50, 50, 0.25);
        }
      }
      &__item-content {
        height: 100%;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0 0 20px;
      }
      &__item-title {
        margin: 20px 0;
        @extend %Barlow-700;
        font-size: 23px;
      }
      &__item-info {
        position: relative;
        @extend %SFProDisplay-400;
        font-size: 14px;
        color: vars.$second-color;
        &::after {
          content: "";
          position: absolute;
          width: 6px;
          height: 9px;
          top: 50%;
          left: 65px;
          transform: translateY(-50%);
          background-image: url(../../assets/icons/arrow-right.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      &__item-img {
        object-fit: contain;
        flex: 1 1 auto;
      }
    }

    .products {
      margin-bottom: 86px;
      &__inner {
        display: flex;
        flex-direction: column;
      }
      &__title {
        padding: 25px 0 25px 20px;
        @extend %Barlow-700;
        font-size: 25px;
      }

      &__show-more {
        align-self: center;
        margin-top: 35px;
        padding: 17px 43px;
        font-size: 15px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        background-color: vars.$base-color;
      }
    }
    .products .jtabs-headers {
      display: flex;
      gap: 50px;
      margin-bottom: 20px;
      padding: 0 20px 0;
      user-select: none;
    }
    .products .jtabs-headers div {
      position: relative;
      padding: 10px 0;
      @extend %SFProDisplay-400;
      font-size: 15px;
      background: none;
      cursor: pointer;
      color: vars.$main-color;
    }
    .products .jtabs-headers div::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease;
      background-color: vars.$accent-color;
    }
    .products .jtabs-headers .jtabs-selected::after {
      transform: scaleX(1);
    }
    .products-popular {
      margin-bottom: 95px;
    }

    .products-popular .jtabs-headers {
      display: flex;
      gap: 50px;
      margin-bottom: 20px;
      padding: 0 20px 0;
      user-select: none;
    }
    .products-popular .jtabs-headers div {
      position: relative;
      padding: 10px 0;
      @extend %SFProDisplay-400;
      font-size: 15px;
      background: none;
      cursor: pointer;
      color: vars.$main-color;
    }
    .products-popular .jtabs-headers div::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease;
      background-color: vars.$accent-color;
    }
    .products-popular .jtabs-headers .jtabs-selected::after {
      transform: scaleX(1);
    }

    .product-item {
      border: 1px solid #cdcdcd;
      border-radius: 3px;
      position: relative;
      width: 270px;
      height: 403px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 50px 0 30px;

      &__favourite {
        position: absolute;
        border: none;
        width: 24px;
        height: 22px;
        top: 16px;
        right: 19px;
        margin: 0;
        padding: 0;
        background-image: url(../../assets/icons/favourite.svg);
        background-color: transparent;
        &--active {
          background-image: url(../../assets/icons/favourite-active.svg);
        }
      }
      &__img {
        width: 200px;
        height: 200px;
        object-fit: contain;
        object-position: top;
      }
      &__title {
        width: 230px;
        text-align: center;
        @extend %SFProDisplay-400;
        font-size: 18px;
      }
      &__price {
        position: relative;
        margin: 0;
        padding-right: 25px;
        @extend %Barlow-700;
        font-size: 30px;
      }
      &__price::after {
        position: absolute;
        content: "";
        width: 19px;
        height: 22px;
        top: 0;
        right: 0;
        mask: url(../../assets/icons/rus-currency-old.svg) no-repeat center
          center / contain;
        background-color: vars.$main-color;
      }

      &__cart {
        border: none;
        position: absolute;
        content: "";
        width: 60px;
        height: 40px;
        bottom: 0;
        right: 0;
      }
      &__cart::after {
        position: absolute;
        content: "";
        border-top-left-radius: 10px;
        width: 60px;
        height: 40px;
        bottom: 0;
        right: 0;
        background-image: url(../../assets/icons/shop-cart-item.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: vars.$accent-color;
        z-index: 999;
      }

      &__hover-text {
        width: 200px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 0 17px;
        background-color: rgba(#ffffff, 0.9);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: all 0.3s;
      }
      &:hover {
        .product-item__hover-text {
          opacity: 1;
          color: vars.$main-color;
        }
        color: vars.$accent-color;
        transition: all 0.3s;
        box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.06);
        .product-item__price::after {
          transition: all 0.3s;
          background-color: vars.$accent-color;
        }
        .product-item__notify-text {
          color: vars.$main-color;
        }
      }
      &--sale::before {
        content: "SALE";
        border-top-left-radius: 2px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 8px 15px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #fff;
        background-color: vars.$accent-color;
      }
      /* Скрытие цены при __not-avaliable */
      &.product-item__not-avaliable .product-item__price {
        display: none;
      }
      /* Скрытие корзины при __not-avaliable */
      &.product-item__not-avaliable .product-item__cart {
        display: none;
      }
      /* Скрытие распродажи при __not-avaliable */
      &.product-item__not-avaliable .product-item--sale {
        display: none;
      }

      &__notify {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      /* Скрытие "нет в наличии" __notify-text по умолчанию  */
      &__notify-text {
        @extend %SFProDisplay-700;
        line-height: 21px;
        display: none;
      }
      &__notify-link {
        font-size: 16px;
        line-height: 21px;
        color: vars.$accent-color;
        border-bottom: 1px solid vars.$accent-color;
        display: none;
      }

      /* Отображение  "нет в наличии"  при __not-avaliable  */
      &.product-item__not-avaliable .product-item__notify-text {
        display: block;
      }
      &.product-item__not-avaliable .product-item__notify-link {
        display: block;
      }
    }
  }

  .banner {
    margin-bottom: 86px;
  }

  .footer {
    background-color: vars.$base-color;
    &__inner {
      display: flex;
      gap: 100px;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 43px 45px;
    }

    &__content-form {
      min-width: 0;
      height: 33px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__content-input {
      border: none;
      height: 100%;
      flex: 1 1 auto;
      min-width: 0;
      padding: 10px 14px;
      @extend %SFProDisplay-400;
      font-size: 14px;
      background-color: #fff;
      &::placeholder {
        color: vars.$second-color;
      }
    }

    &__content-btn {
      border: none;
      height: 100%;
      flex: 0 0 auto;
      background: none;
      margin-left: -3px;
      padding: 12px 16px;
      @extend %SFProDisplay-600;
      font-size: 11px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #fff;
      background-color: vars.$accent-color;
      cursor: pointer;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      min-width: 0;
    }
    &__item:first-child {
      flex: 3 1 19rem;
      flex-direction: column;
      gap: 35px;
    }

    &__item:nth-child(2) {
      flex: 1 1 10rem;
    }
    &__item:nth-child(3) {
      flex: 1 1 10rem;
    }
    &__item:last-child {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-self: center;
      gap: 30px;
    }
    &__title {
      font-size: 14px;
      user-select: none;
    }
    &__menu-info {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
    &__menu-shop {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
    &__menu-item {
      font-size: 14px;
    }
    &__item-img {
      width: 30px;
      height: 30px;
    }
    &__bottom {
      display: flex;
      justify-content: center;
      gap: 85px;
      font-size: 10px;
      padding-bottom: 27px;
    }
  }
}
