$main-color: #2f3035;
$accent-color: #1c62cd;
$second-color: #c4c4c4;
$base-color: #f0f0f4;

%SFProDisplay-400 {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
}
%SFProDisplay-500 {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
}
%SFProDisplay-600 {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
}
%SFProDisplay-700 {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
}

%Barlow-300 {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}
%Barlow-400 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}
%Barlow-600 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
%Barlow-700 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

%ProximaNova-600 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
}
%ProximaNova-700 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
}
%Staatliches-400 {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
}
