@use "../variables.scss" as vars;

*,
*::before,
*::after {
  // Учитываем границы и отступы в расчёте размеров
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  object-fit: cover;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: vars.$main-color;
}

body {
  // Подключаем основной шрифт и нужное начертание
  @extend %SFProDisplay-400;
  font-size: 18px;
  line-height: 21px;
  color: vars.$main-color;
}

.container {
  // Центрируем контент и задаём максимальную ширину
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
